{% extends "estructura/principal.html" %}

{% block contenido %}

<form action = "" method = "POST">
    {% load bootstrap5 %}
    
    {% csrf_token %}
    <div class="mb-4">
        {% bootstrap_field formulario.nombre %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.isbn %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.descripcion %}
    </div>
    <div class="mb-4">
        {% bootstrap_field formulario.fecha_publicacion %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.idioma %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.autores %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.bliblioteca %}
    </div>


    {% buttons %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    {%endbuttons%}
</form>

{% endblock %}