<!DOCTYPE>
<html>
    <head>
        <title>Biblioteca</title>
    </head>
    <body>
        <div>
            {% for cliente in clientes_mostrar%}
                <h2>Nombre: {{cliente.nombre}}</h2>
                <h2>Apellidos: {{cliente.apellidos}}</h2>
                <p>email: {{cliente.email}}</p>
                <h3>puntos: {{cliente.puntos}}</h3>
                <p>Telefono: {{cliente.telefono}}</p>
                <p>-------------------------------------------------------------------------------------------------------------</p>
            {%endfor%}
        </div>
    
    </body>


</html>